/*******************************************************************************
Project P8005 HEVC
(c) Copyright 2021 Argon Design Ltd. A Broadcom Inc. Company
All rights reserved.
*******************************************************************************/

body {
    font-family: "Arial";
    font-size:10pt;
}

table, td {
    border: 1px solid gray;
    border-collapse: collapse;
    font-family: "Arial";
    font-size: 10pt;
}

thead {
    font-weight: bold;
    background-color: #D9D9D9;
}

td {
    vertical-align: middle;
    padding: 5px 8px 5px 8px;
}

p {
    margin-top: 3px;
    margin-bottom: 0px;
}

p:nth-child(2) {
    margin-top: 12px;
}

code {
    font-family: "Inconsolata";
    font-size: 10pt;
}

.green {
    color: #1C601E;
}

.nowrap {
    white-space: nowrap;
}
